<launch>
    <node name="raspicam_node" pkg="raspicam" type="raspicam_node" args="_framerate:=4 _quality:=10"/> 
    <node launch-prefix="$(find slam_sensors)/kickstart/start_camera.sh" name="throttle" pkg="topic_tools" type="throttle" args="messages /camera/image/compressed 4.0 /throttled_camera_image"/> 
</launch>
